:root {
  /* paleta de cores RSPR */
  --deep-blue: #172934;
  --red: #D63B46;
  --dark-red: #8A272D;
  --orange: #EC783C;
  --dark-orange: #A15028;
  --yellow: #F1A92F;
  --dark-yellow: #AB7922;
  /* cores do projeto */
  --black: #1A1A1A;
  --light-dark: #333333;
  --dark-gray: #4D4D4D;
  --gray: #808080;
  --light-gray: #B3B3B3;
  --dark-white: #CCCCCC;
  --white: #E6E6E6;
}

/* App.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: var(--black);
}

header {
  color: #fff;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-space{
  font-size: 28px;
  font-weight: 600;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-right: 20px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}


main {
  margin: 20px;
  background-color: var(--light-dark);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 2rem;
}

.navigation {
  width: 100%;
  background-color: var(--dark-gray);
  margin: 20px 0;
  padding: 20px;
  border-style: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.navigation nav{
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navigation-links{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-links button{
  width: 100%;
  border-style: none;
  background-color: var(--dark-gray);
  color: var(--white);
  font-size: 36px;
}

.navigation-links button:hover{
  background-color: var(--black);
  cursor: pointer;
}

.visor{
  width: 100%;;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: var(--dark-gray);
  border-style: none;
  border-radius: 5px;
}

h2 {
  color: var(--white);
  font-size: 24px;
  margin: 0 0 20px;
}

/* Style the active link in the navigation */
nav a.active {
  text-decoration: underline;
}