:root {
  /* paleta de cores RSPR */
  --deep-blue: #172934;
  --red: #D63B46;
  --dark-red: #8A272D;
  --orange: #EC783C;
  --dark-orange: #A15028;
  --yellow: #F1A92F;
  --dark-yellow: #AB7922;
  /* cores do projeto */
  --black: #1A1A1A;
  --light-dark: #333333;
  --dark-gray: #4D4D4D;
  --gray: #808080;
  --light-gray: #B3B3B3;
  --dark-white: #CCCCCC;
  --white: #E6E6E6;
}

/* App.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  font-size: 24px;
  margin: 0 0 20px;
}

/* Style the active link in the navigation */
nav a.active {
  text-decoration: underline;
}